/* Mobiili näkymä */

html {
  font-size: 62.5%;
}
body {
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 1rem;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
  /* background-color: gainsboro;
  background-image: linear-gradient(to bottom right, rgb(137, 55, 55), white);
  background-position: center;
  background-attachment: fixed;
  background-size: cover; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1,
h2,
h3,
ul,
ul li,
p {
  margin: 1rem;
  color: white;
}
h1 {
  font-size: 3.5rem;
  padding: 1rem 0 0 0;
  font-family: fantasy;
  font-weight: bold;
  text-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.4rem;
}
ul {
  font-size: 1rem;
}
a {
  color: rgb(137, 55, 55);
  text-decoration: none;
}
a:hover {
  color: black;
  padding: 0.5rem;
}
header,
section,
footer {
  padding: 1rem;
}
header {
  text-align: center;
}
/* .logofront {
  max-width: 10rem;
  float: inline-end;
  margin: 0 -1rem 3rem auto;
}
.bsn-beige {
  color: black;
  fill: black;
  text-align: left;
} */
p {
  font-size: 1.4rem;
}
.wrapper {
  border: 2px white solid;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
#navbar {
  border-bottom: 2px white solid;
  text-align: center;
}
.logot {
  font-size: 3rem;
  float: right;
  margin: -3rem 0.5rem 0.5rem 0.5rem;
}
.logot a {
  color: white;
}
.logot a:hover {
  color: grey;
}
iframe {
  display: block;
  width: 100%;
  height: 400px;
}
#navbar > * {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#home {
  background-color: black;
  color: white;
  font-weight: bold;
}
.dropbtn {
  background-color: black;
  color: white;
  font-weight: bold;
}
.dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.show {
  display: block;
}

/* Tablet näkymä */

@media only screen and (min-width: 426px) {
}

/* Desktop näkymä */

@media only screen and (min-width: 769px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 75vh;
  }
  iframe {
    display: block;
    width: 100%;
    height: 100%;
  }
  h1 {
    padding: 0;
  }
  header {
    height: 10vh;
  }
}
