/* Mobiili näkymä */

html {
  font-size: 62.5%;
}
body.no-touch .box:hover .title,
body.touch .box.touchFocus .title {
  margin-bottom: 0;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
.box {
  display: block;
  position: relative;
  margin: 0.5rem;
  width: 100%;
  padding-bottom: 100%;
}
.kuva {
  position: absolute;
  overflow: hidden;
}
.kuva img {
  width: 100%;
}
.title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -5rem;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* Tblet näkymä */

@media only screen and (min-width: 426px) {
  .box {
    width: 30%;
    padding-bottom: 30%;
  }
}

/* desktop näkymä */

@media only screen and (min-width: 769px) {
  .box {
    width: 24%;
    padding-bottom: 24%;
  }
}
