/* Mobiili näkymä */

html {
  font-size: 62.5%;
}
body {
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 1rem;
  background-color: gainsboro;
  background-image: linear-gradient(to bottom right, rgb(134, 157, 239), white);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
h1,
h2,
h3,
ol,
ol li,
p {
  margin: 1rem;
}
h1 {
  font-size: 2.6rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.4rem;
}
ol {
  font-size: 1rem;
}
a {
  color: rgb(137, 55, 55);
  text-decoration: none;
}
a:hover {
  color: black;
  padding: 0.5rem;
}
header a {
  color: black;
}
header a:hover {
  color: grey;
}
header,
.ohjelmointi,
.ohjelmistokehittaja,
.angular {
  border-bottom: 1px solid black;
}
header,
section,
footer {
  padding: 1rem;
  text-align: center;
}
header {
  color: black;
}
.logofront {
  max-width: 10rem;
  float: inline-end;
  margin: 0rem -1rem 3rem auto;
}
.bsn-beige {
  color: black;
  fill: black;
}

footer {
  color: black;
  text-align: left;
}
p {
  font-size: 1rem;
}
.logot {
  font-size: 2.2rem;
  float: right;
  margin: -2.5rem 0.5rem 0.5rem 0.5rem;
}
.logot a {
  color: black;
}
.logot a:hover {
  color: grey;
}
